form {
    border: 1px solid black;
    display: inline-block; 
    text-align: right;
    padding: 5px;
    margin: 20px;
    width: 300px;
}

form h2 {
    text-transform: uppercase;
    text-align: center;
    color: grey;
}

form textarea {
    resize:none;
    height: 40px;
}

h3.ariaTitle{
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    margin:5px;
}

form input, form textarea,
form select {
    width: 100%;
    box-sizing: border-box;
}

form select {
    margin-bottom: 10px;
}

form select {
    margin-bottom: 10px;
}

input[type = "button"] {
    margin-top: 20px;
    background: #f2d3cd;
    text-transform: uppercase;
}
