<h2 >Create new task</h2>
<form class="form-horizontal" ng-submit = "$ctrl.sendData($ctrl.user)" name = "addTask" novalidate>
    <div class="form-group">
    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model = "$ctrl.title" name = "taskTitle">
    </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
          <textarea type="text" class="form-control" rows="4" id="inputDescription" placeholder="Description" ng-model = "$ctrl.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <select ng-options="el.id as el.name for el in $ctrl.columns" ng-model="$ctrl.columnID" class="form-control"></select>
        </div>
    </div>
    <div class="form-group ">
    <div class="col-sm-6 col-sm-offset-2 clearfix">
        <input type = "submit" value = "Add new task" name = "addNewTask" class="btn btn-info pull-left" ng-disabled = "!$ctrl.description || !$ctrl.title">
        <input id = "delTasks" type = "button" value = "Delete all tasks" ng-click = "$ctrl.deleteTasks()" name = "deleteAllTasks" class="btn btn-danger pull-left" ng-disabled = "!$ctrl.data.length">
    </div>
    </div>
</form>
