<div class ="row navbar-default">

<!--        <nav class = "navbar navbar-default">
            <a ui-sref="Home" ui-sref-active="active">Home</a>
            <a ui-sref="AddNew" ui-sref-active="active">Add New</a>
        </nav> -->
    <ul class="nav navbar-nav navigation">
        <li><a ui-sref="Home" ui-sref-active="active">Home <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="AddNew" ui-sref-active="active">Add New</a></li>
<!--         <li><a ui-sref="About" ui-sref-active="active">About</a></li> -->
    </ul>

</div>
