<div class="wrapper" ng-controller="MyCtrl as mainCtrl">
    <div class = "clearfix">
        <ul class="clearfix">
            <li ng-repeat = "col in mainCtrl.col" class = "colomns">
                <h2>{{col.name}}</h2>
                <ul>
                    <li class = "rows" ng-repeat = "el in mainCtrl.data | filter : {status: col.id}">
                        <div class = "taskTopPanel clearfix"><a class="deleteTask" ng-click = "mainCtrl.deleteItem(el)"></a></div>
                        <div>- {{el.name || "No name"}} -</div>
                        <div></div>
                        <textarea readonly> {{el.description || "No description"}}</textarea>
                        <div>
                            <button ng-click = "mainCtrl.moveLeft(el)">Left</button>
                            <button ng-click = "mainCtrl.moveRight(el)">Right</button>
                        <div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <input-form></input-form>
    <button ng-click = "mainCtrl.deleteALL()">DELETE ALL</button>
</div>
