<ul class="clearfix">
    <li class = "columns" ng-repeat = "taskType in $ctrl.columns">
        <h2>{{::taskType.name}}</h2>
        <ul>
            <li class = "rows" ng-repeat = "el in quontity = ($ctrl.data | filter : {status: taskType.id} ) | orderBy:'lastModifyDate' ">
                <div class = "taskTopPanel clearfix">
                    <a class="deleteTask" ng-click = "$ctrl.deleteItem(el)"></a>
                </div>
                <div class="taskName"> <span>{{el.name || "No name"}} </span></div>
                <div></div>
                <textarea readonly> {{el.description || "No description"}}</textarea>
                <div>
                    <button ng-click = "$ctrl.moveLeft(el)">Left</button>
                    <button ng-click = "$ctrl.moveRight(el)">Right</button>
                <div> 
            </li>
        </ul>
        <p> Tasks: {{quontity.length}}</p>
    </li>
</ul>
